.card {
  width: 50%;
  height: 150px;
  padding: 1em 16px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.card-container {
  display: flex;
}
.card-container p {
  padding-left: 1em;
}
.card-container img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
h3 {
  text-align: center;
}
